.container {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
}

.links {
  display: flex;
  margin: 20px;
}