.container {
  display: flex;
  width: 100%;
  background-color: var(--nav);
  box-shadow: 1px 1px 2px black;
  margin: 0 0 1rem 0;
  color: var(--banjo);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}

.title {
  margin: 0.5rem;
  width: 100%;
}

.audioList {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  padding: 1.2rem 1rem 0 1rem;
  justify-content: center;
  align-items: center;
}

.bgPic {
  display: flex;
  width: calc(100% - 9rem);
  min-width: 400px;
  max-width: 800px;
  border-radius: 6px;
  box-shadow: 1px 1px 2px black;
  align-self: center;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .bgPic {
    width: 80%;
  }
}