.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.bgPic {
  display: flex;
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  object-fit: contain;
  margin: 3rem 0 0 0;
  border: 3px solid black;
  border-radius: 6px;
}