.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  padding: 1rem;
  background-color: var(--nav);
  color: var(--banjo);
  box-shadow: 1px 1px 2px black;
  margin: 0 0 1rem 0;
}

.bgPic {
  display: flex;
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  /* object-fit: contain; */
  margin: 3rem 0 0 0;
  border-radius: 6px;
  box-shadow: 1px 1px 2px black;
}