.container {
  display: flex;
  width: 100%;
  background-color: var(--nav);
  box-shadow: 1px 1px 2px black;
  margin: 0 0 1rem 0;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  color: var(--banjo);
}

.bgPic {
  display: flex;
  width: calc(100% - 9rem);
  min-width: 400px;
  max-width: 800px;
  border-radius: 6px;
  box-shadow: 1px 1px 2px black;
}