.compEntry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  padding: 1rem;
}

.compTitle {
  padding: 1rem;
  border: 1px solid black;
  width: 30%;
}

.pdfLink {
  padding: 1rem;
  border: 1px solid black;
  width: 20%;
}

.audioLink {
  padding: 1rem;
  border: 1px solid black;
  width: 25%;
}

.videoLink {
  padding: 1rem;
  border: 1px solid black;
  width: 25%;
}

