.container {
  justify-content: center;
  background-color: var(--banjo);
  flex-direction: column;
}

.compEntry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  padding: 1rem;
  background-color: rgb(237, 238, 224);
}

.compTitle {
  padding: 1rem;
  border: 1px solid black;
  width: 30%;
}

.pdfLink {
  padding: 1rem;
  border: 1px solid black;
  width: 20%;
}

.audioLink {
  padding: 1rem;
  border: 1px solid black;
  width: 25%;
}

.videoLink {
  padding: 1rem;
  border: 1px solid black;
  width: 25%;
}

