.container {
  justify-content: center;
  background-color: var(--banjo);
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.compCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  padding: 0.5rem;
  background-color: rgb(237, 238, 224);
}

.compTitle {
  padding: 1rem;
  margin-bottom: 0.2rem;
  border: 1px solid black;
  width: fit-content;
  background-color: white;
  box-shadow: 1px 1px 2px black;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.compMaterials {
  display: flex;
  flex-direction: row;
  width: calc(100%-1rem);
  justify-content: space-around;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0 0.5rem;
  background-color: var(--nav);
}

.pdfLink {
  border: 1px solid black;
  width: 50%;
  min-height: 300px;
}

.audioList {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  padding: 2rem 1rem 0 1rem;
}

.audioLink {
  display: flex;
  min-width: 100%;
  background-color: white;
  box-shadow: 2px 2px 2px var(--arr);
  color: white;
  padding: 1rem;
  border: 1px solid black;
  width: 25%;
}

.videoLink {
  border: 1px solid black;
  width: 25%;
}

