.container {
  display: flex;
  background-color: var(--contact);
  color: var(--banjo);
  justify-content: space-around;
  width: 100%;
}

.bgPic {
  display: flex;
  max-width: 60%;
  margin: 3rem 0 0 0;
  max-height: 500px;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 1px 1px 2px black;
}