.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--nav);
  width: 100vw;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.title {
  width: 100%;
}

.bgPic {
  display: flex;
  max-height: 500px;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 1px 1px 2px black;
}

.audioList {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  padding: 1.2rem 1rem 0 1rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
  }
  .bgPic {
    width: 80%;
  }
}