.container {
  height: 100vh-100px;
  justify-content: center;
  align-items: center;
  background-color: var(--nav);
  color: var(--banjo);
  width: 100vw;
}

.bgPic {
  display: flex;
  width: 60%;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 1px 1px 2px black;
}


@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .bgPic {
    width: 90%;
    margin: 1rem 0 0 0;
  }
}