.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  position: sticky;
  justify-content: space-between;
  top: 0;
  font-size: 1.5rem;
  background-color: var(--contact);
  color: var(--banjo);
  z-index: 10;
  box-shadow: 1px 1px 2px black;
}

.siteName {
  display: flex;
  margin: 0;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.links {
  display: flex;
  margin: 1rem;
  color: var(--banjo);
  text-decoration: none;
}

.links:hover{
  text-decoration: underline;
  color: var(--arr);
}

@media screen and (max-width: 950px) {
  .container {
    width: 100%;
    flex-direction: column;
    height: 90px;
    justify-content: center;
  }
  .links {
    font-size: 1rem;
    margin: 0.2rem 0.3rem;
  }
  .siteName {
    font-size: 1.5rem;
    margin: 0.2rem;
  }
}