.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  background-color: var(--nav);
  border-bottom: 2px solid black;
  z-index: 10;
}

.links {
  display: flex;
  margin: 20px;
  color: var(--contact);
  text-decoration: none;
}

.links:hover{
  text-decoration: underline;
}