.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  position: sticky;
  justify-content: space-between;
  top: 0;
  background-color: var(--contact);
  color: var(--banjo);
  z-index: 10;
}

.linkContainer {
  display: flex;
  flex-direction: row;
}

.links {
  display: flex;
  margin: 20px;
  color: var(--banjo);
  text-decoration: none;
}

.links:hover{
  text-decoration: underline;
  color: var(--arr);
}