.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  box-shadow: 1px 1px 2px black;
  margin: 0 0 1rem 0;
  color: var(--banjo);
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem 0;
}

.banjoBox {
  display: flex;
  flex-direction: row;
  background-color: var(--nav);
  width: 100%;
}

.guitBox {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--nav);
  width: 100%;
}

.titleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
}

.title {
  margin: 0.5rem;
  width: 100%;
}

.list {
  width: 40%;
  justify-self: center;
  align-self: center;
}

.audioList {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  width: 40%;
  padding: 1.2rem 1rem 0 1rem;
  justify-content: center;
  align-items: center;
}

.bgPic {
  display: flex;
  width: calc(100% - 9rem);
  min-width: 300px;
  max-width: 800px;
  border-radius: 6px;
  box-shadow: 1px 1px 2px black;
  align-self: center;
}

@media screen and (max-width: 900px) {
  .banjoBox {
    flex-direction: column;
  }
  .guitBox {
    flex-direction: column;
  }
  .bgPic {
    width: 80%;
  }
  .list {
    width: 80%;
  }
}