.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 100vw;
  background-color: darkgrey;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 2rem;
}

section {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  min-height: 400px;
  padding: 1rem;
  box-shadow: 1px 1px 2px black;
  margin: 0 0 1rem 0;
}

section {
  -webkit-animation: fade-in 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

